/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
	
/* center the ACE editor */
.NetCoderEditor {
	border: medium solid white;
}

/* editor status widget */
.NetCoderEditorStatusNormal {
	width: 30px;
	font-size: 14px;
	border: 4px solid #0F0;
	text-align: center;
}
.NetCoderEditorStatusTransmitFailure {
	width: 30px;
	font-size: 14px;
	border: 4px solid red;
	text-align: center;
}

.NetCoderRoundBox {
	background: #87CEFA;
	border-radius: 15px;
	-moz-border-radius: 15px;
	padding: 10px;
}

.NetCoderTopBar {
	display: inline;
	position: relative;
}

.NetCoderLogo {
	vertical-align: middle;
}

.NetCoderProductName {
	font-size: 20px;
	font-weight: bold;
	vertical-align: middle;
}

.NetCoderLoggedInAs {
	vertical-align: middle;
	padding-right: 5px;
}

.NetCoderUsernameAndLogout {
	position: absolute;
	right: 0;
	top: 0;
}

.NetCoderProblemDescription {
	background: silver;
	border-radius: 15px;
	-moz-border-radius: 15px;
	padding: 10px;
}

.NetCoderStatusAndButtonBar {
	position: relative;
}

.NetCoderStatus {
	vertical-align: middle;
}

.NetCoderSubmitButton {
	position: absolute;
	vertical-align: middle;
	top: 0;
	right: 0;
}
