/* NetCoder CSS rules. */

/* Put a bit of space around the editor. */
.NetCoderEditor {
	margin: 5px;
}

/* editor status widget */
.NetCoderEditorStatusNormal {
	width: 30px;
	font-size: 14px;
	border: 4px solid #0F0;
	text-align: center;
}
.NetCoderEditorStatusTransmitFailure {
	width: 30px;
	font-size: 14px;
	border: 4px solid red;
	text-align: center;
}

.NetCoderRoundBox {
	background: #92c1f0;
	border-radius: 15px;
	-moz-border-radius: 15px;
	padding: 10px;
}

.NetCoderTopBar {
	display: inline;
	position: relative;
}

.NetCoderLogo {
	vertical-align: middle;
}

.NetCoderProductName {
	font-size: 20px;
	font-weight: bold;
	vertical-align: middle;
}

.NetCoderLoggedInAs {
	vertical-align: middle;
	padding-right: 5px;
}

.NetCoderUsernameAndLogout {
	position: absolute;
	right: 0;
	top: 0;
}

.NetCoderProblemDescription {
	background: #d7d5d3;
	border-radius: 15px;
	-moz-border-radius: 15px;
	padding: 10px;
}

.NetCoderStatusAndButtonBar {
	position: relative;
}

.NetCoderStatusInformation {
	padding-left: 4px;
	vertical-align: middle;
	color: black;
}

.NetCoderStatusError {
	padding-left: 4px;
	vertical-align: middle;
	color: red;
}

.NetCoderSubmitButton {
	position: absolute;
	vertical-align: middle;
	top: 0;
	right: 0;
}

.NetCoderProblemDescriptionBrief {
	font-weight: bold;
}

.NetCoderProblemDescriptionDetailed {
}

/* GWT Incubator ScrollPanel demo CSS. */
/*
 * ScrollTable
 */
.gwt-ScrollTable {
  border-color: #aaa;
  border-style: solid;
  border-width: 1px 0px 1px 1px;
}

.gwt-ScrollTable .headerWrapper {
  background: #8bd url(images/bg_header_gradient.gif) repeat-x bottom left;
}

.gwt-ScrollTable .footerWrapper {
  border-top: 1px solid #aaa;
  background: #8bd url(images/bg_header_gradient.gif) repeat-x bottom left;
}

.gwt-ScrollTable .dataTable td,
.gwt-ScrollTable .headerTable td,
.gwt-ScrollTable .footerTable td {
  border-color: #aaa;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  white-space: nowrap;
  overflow: hidden;
}

.gwt-ScrollTable .headerTable td,
.gwt-ScrollTable .footerTable td {
  color: #fff;
}
        
.gwt-ScrollTable .dataTable tr.highlighted {
  background: #C3D9FF;
}

.gwt-ScrollTable .dataTable td.highlighted {
  background: #FFFFAA;
  cursor: hand;
  cursor: pointer;
}

.gwt-ScrollTable .dataTable tr.selected {
  background: #7AA5D6;
}

.badGPA {
        background: #FFAAAA;
}
.goodGPA {
  background: #AAAAFF;
}
.greatGPA {
  background: #AAFFAA;
}

/**
 * Applied to the options at the bottom of the page.
 */
.gwt-PagingOptions {
  background: #e8eef7;
  border: 1px solid #aaa;
  border-top: none;
}

.gwt-PagingOptions .errorMessage {
        color: red;
}

.pagingOptionsFirstPage,
.pagingOptionsLastPage,
.pagingOptionsNextPage,
.pagingOptionsPrevPage {
  cursor: hand;
  cursor: pointer;
}

.gwt-InlineCellEditor {
  border: 3px solid #7AA5D6;
  padding: 4px;
  background: white;
  overflow: auto;
}
.gwt-InlineCellEditor .accept {
  cursor: pointer;
  cursor: hand;
}
.gwt-InlineCellEditor .cancel {
  cursor: pointer;
  cursor: hand;
}

/** Applied to AbstractOptions */
.AbstractOption-Label {
  font-weight: bold;
  text-align: right;
}
