<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>NetCoder_GWT2.html</welcome-file>
  </welcome-file-list>

  <!--  Servlets -->
  <servlet>
    <servlet-name>LogCodeChange</servlet-name>
    <servlet-class>
      edu.ycp.cs.netcoder.server.LogCodeChangeServiceImpl
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Compile</servlet-name>
    <servlet-class>
      edu.ycp.cs.netcoder.server.CompileServiceImpl
    </servlet-class>
  </servlet>
  
	<servlet>
    <servlet-name>Submit</servlet-name>
    <servlet-class>
      edu.ycp.cs.netcoder.server.SubmitServiceImpl
    </servlet-class>
  </servlet>
  
  <!--  Servlet mappings -->
  <servlet-mapping>
    <servlet-name>LogCodeChange</servlet-name>
    <url-pattern>/netcoder_gwt2/logChange</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Compile</servlet-name>
    <url-pattern>/netcoder_gwt2/compile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Submit</servlet-name>
  	<url-pattern>/netcoder_gwt2/submit</url-pattern>
  </servlet-mapping>

</web-app>
